.news-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem;
}
.main-news-sec-container{
    display: flex;
    justify-content: center;
}

.news-section{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 2rem;
}

.numb-box{
    padding: 0 1rem;
    border: black solid .2rem;
}
.icon-prv,
.icon-nxt{
    cursor: pointer;
}

@media screen and (max-width: 1240px){
    .news-section-container{
        margin: 2rem;
    }
    .news-section{
        gap: 2rem;
    }
}