.all-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.this-my-story-container{
    display: flex;
    padding: 1em;
    flex-wrap: nowrap;
    justify-content: center;
    width: 98rem;
    height: min-content;
    background-color: rgb(244, 240, 234);
    color:var(--introCardClrDrkBlue);
    font-family: var(---btnFontStyleOxReg);
    /* box-shadow: .1rem .1rem 1rem rgb(88, 83, 83), -.1rem -.1rem 1rem rgb(88, 83, 83); */
    margin-bottom: 2rem;
}
.person-img-container{
    width: 40rem;
    height: 100%;
}

.person-img{
    width: inherit;
    height: inherit;
    object-fit:cover;
}
.title-and-story{
    display: flex;
    flex-direction: column;
}
.story{
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 2rem;
    text-align: left;
}
.story-title{
    margin: 0;
    font-size: 3rem;
    height: 100%;
    padding-top: 1rem;
}
.btn-container{
    display: flex;
    justify-content: end;
    background-color: rgb(244, 240, 234);
    align-items: baseline;
    gap: 1rem;
    padding: 2rem;
}


@media screen and (max-width: 880px){
    .this-my-story-container{
        flex-direction: column;
        width: 35rem;
        background-color: #f3ebeb;
    }
    .person-img-container{
        height: 20rem;
        width: 100%;
    }
    .person-img{
        border-radius: 0;
    }
    .story-title{
        font-size: 2rem;
    }
    .story{
        font-size: 1.5rem;
        line-height: 2rem;
    }
}