.test{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

body{
    margin: 0;
    background-color: white;
}
.app{
    position: relative;
}

.app-donation-form-container{
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translate(-50%, 0);
}