
html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(---btnFontStyleOxReg);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
:root{
     /* ########### color for Text, Bg, Button, Button text #########*/
     --navBarColor: black;
     --navBarWhite: white;
     --navSubOption: rgb(247, 243, 243);
     --ftrBarYellow: #FFD601;
     --optionMenuItem: #f8f6f6;
     --option-items-hover: rgb(235, 235, 156);
    
     --introCardClrDrkBlue:#041E43;
     --introCardClrYellow: #FFD601;
     
     --txtYellow: #FFD601;
     --txtWhite: white;
     --txtBlack: black;
     --textBlue: #041E43;
     --txtBlueLowOpacity: #041E43;
     --textRed: red;

     --btnYellow: #FFD601;
     --btnBlack: black;
     --btnBlue: #18277C;
     --deleteBtn:#ACB4E0;

    --txtBoxBg: #EEEBEB;
    --responsive-width: 1000px;

    /* ############### Font ############# */
    ---btnFontStyleOxReg: 'Oxanium', Times;
    
}