/* The main nav with donate button and logo. the white bar is not the main nav item. */
.main-nav-container{
    display: flex;
    max-width: 100%;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
    background-color: black;
}

.logo{
    color: var(--txtYellow);
    font-family: var(---btnFontStyleOxReg);
    width: 5rem;
}
.nav-bar-container{
    transform: translateY(2rem);
}
.nav-bar{
    left: inherit;
    right: inherit;
}

.lang-option-container{
    text-align: end;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.home-btn{
    display: none;
}

.donate-btn-container{
    display: flex;
    gap: .5rem;
}

.lang-option{
    color: rgb(63, 49, 49);
    font-family: var(---btnFontStyleOxReg);
    width: fit-content;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--btnYellow);
    border: none;
}



@media screen and (max-width: 400px){
    .lang-option{
        height: 2rem;
        border-radius: 0rem;
        width: 3rem;
    }

    .home-btn{
    display: block;
    }
}


@media screen and (max-width: 1350.5px){
    .logo{
        display: none;
    }
    .main-nav-container{
        padding: 1em;
    }
    .nav-bar-container{
        transform: translateY(0);
    }

}

@media screen and (max-width: 1000px){
    .main-nav-container{
        padding-left: 0;
    }
    .nav-bar-container{
        transform: translateY(-3rem);
    }
    .home-btn > button{
        font-size: 1.5rem;
    }
    .home-btn{
        display: block;
        }
}
