/* file-name: option.css
   discription: this css file will be used to style the two navigation linkes on the page
                WHO ARE WE and DIGITAL LIBRARY. if you go to on each of the navigation link jsx file
                you will find this css file being used to style the components*/



/* contains the nav menu items sub menu ex-> WHO ARW WE? , DIGITAL LIBRARY 
linked to -> WhoAreWe.jsx file*/
.who-arewe-container{
    width: max-content;
    position: relative;
}

/* options items are the options that will get displayed 
nav item is the navigation item that will contain the option items ex
WHO ARE WE? contains [VISON, MISSION, VALUES] etc */
.option-items,
.nav-items{
    color: var(--textBlue);
    font-size: 2rem;
    cursor: pointer;
    font-family: var(---btnFontStyleOxReg);
    text-align: start;
}


/* the button WHO ARE WE and DIGITAL LIBRARY*/
.nav-items{
    border: none;
    display: flex;
    justify-content: baseline;
    background-color: transparent;
    border-left:solid transparent .3rem;
}

/* the circled arrows in the nav section */
.nav-items-arrow{
    display: flex;
    justify-content: center;
}

/* when the screen max-width is 1350px option-items(sub menu items) will change*/
@media screen and (min-width: 1000px){
    .option-items{
        padding: 1em 10em 1em 1em;
        margin-top: 0;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;
        position: absolute;
        top: 1.5em;
        background-color: var(--navBarWhite);
    }
}

/* when the screen max-width is 1350px option-items(sub menu items) will change*/
@media screen and (max-width:1000px){
    .option-items{
    padding: .5em 4em 1em 1em;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    }
    .nav-options:nth-last-child(){
        margin-bottom: 0;
    }
}

/* linked with OptionItems.jsx file, each optionItems will be used to create the nav bar
and the sub menu items that are listed under WHO ARE WE?, and DIGITAL LIBRARY*/
.nav-options{
    color: var(--textBlue);
    font-size: 2rem;
    cursor: pointer;
    font-family: var(---btnFontStyleOxReg);
    background-color: transparent;
    border-left:solid transparent .3rem;
    margin-left: .3em;
}

/* animating the drop down of each menu item of sub menu item ex sub menu items of WHO ARE WE?*/
@keyframes option-animation {
    from{
        transform:translateY(2%);
        transform-origin: top;
        transition: transform 50ms ease-in-out;
    }
    to{
        transform: translateY(0);
    }
}

/* show sub menu items when the user is on focus or clicking the appropriate navigation link */
.option-items{
    display: block;
    animation: option-animation 300ms ease-in-out 1 none;
}

/* each option items contain a link tag inside li tag */
.option-items > li{
    margin-top: 1em;
    position: relative;
    background-color: transparent;
    z-index: 1;
}

/* it will be applied if the option items main link (WHO ARE WE) are not clicked or in focus */
.option-items-dis-none{
    display: none;
}

/* ::before element that will be used to animate hover effect on each option items */
.option-items > li::before{
    content: '';
    display: block;
    position: absolute;
    padding: .7em;
    z-index: -1;
    top: -0.8rem;
    bottom: -0.8rem;
    left: -0.8rem;
    right: -5em;
    background-color: var(--option-items-hover);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
    
}

/* when user hovers on each option items the :before tag will expand and its yellow background will be displayed */
.option-items > li:hover::before{
    transform: scaleX(.7);
    border-left:solid black .2rem ;
}

/* since option items have padding it will push them down a little
this causes the first option item to be pushed way down from its parent naviagtion item
so elminate margine on only this first option item */
.option-items :nth-child(1){
    margin-top: 0 !important;
}

/* the link is found on each option items under a li tag */
a{
    color: var(--textBlue);
}