.news-card-container{
    background-color: var(--txtWhite);
    width: 35rem;
    border-radius: .2rem;
    box-shadow: .2rem .2rem .5rem rgb(82, 79, 79);
}
.img-vid-container{
    width: inherit;
    height: 20rem;
}
.news-card-image{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: .2em .2em 0 0;
}

.title-art-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5em;
}

.news-title,
.learn-more,
.news-article{
    color: var(--introCardClrDrkBlue);
    font-family: var(---btnFontStyleOxReg);
    margin: 0;
}

.news-article{
    line-height: 2rem;
    font-size: 1.3em;
}
.news-title{
    color: var(--introCardClrDrkBlue) !important;
    font-size: 1.6em;
    margin:0;
}
.learn-more{
    font-size: 1.2rem;
    color: gold;
}

.news-pubished-date{
    color: var(--introCardClrDrkBlue) !important;
}

@media screen and (max-width: 1240px){
    .news-card-container{
        width: 25rem;
    }
    .img-vid-container{
        height: 15rem;
    }
    .news-article{
        display: none;
    }
    
}
@media screen and (max-width: 857.5px){
    .news-article{
        display: none;
    }
    .news-card-container{
        width: 15rem;
        border-radius: 0 0 .2rem .2rem ;
    }
    .news-card-image{
        border-radius: 0rem;
    }
    .img-vid-container{
        height: 10rem;
    }
    .learn-more,
    .news-title{
        font-size: 1.2rem;
    }
    .news-pubished-date{
        font-size: .7rem;
    }
}